**/node_modules
labathome_firmware/build
*-backups/
doc/labathome.mp4
labathome_borisuserdll/__history
labathome_borisuserdll/__recovery
ptnchen_borisuserdll/__history
ptnchen_borisuserdll/__recovery
