$blue-3: hsl(211, 57%, 25%);
$blue-4: hsl(211, 39%, 44%);
$blue-5: hsl(211, 51%, 65%);
$blue-7: hsl(211, 90%, 93%);
$blue-rich: hsl(211, 65%, 48%);

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
  min-width: 30vw;
  

}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

dialog[open] {
  animation: slide-up 0.4s ease-out;
}

#dialog-close {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  padding: 0.3em;
  line-height: 0.6;
  background-color: transparent;
  border: 0;
  font-size: 2em;
}
#dialog-heading,
#dialog-body,
#dialog-footer {
  padding: 1em;
}

#dialog-heading {
  margin: 0;
  padding-bottom: 0.6em;
  background-color: $blue-7;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom: 1px solid $blue-5;
}

#dialog-body{
  button {
    width:50px;
    height: 30px;;
  }
}

#dialog-footer {
  border-top: 1px solid $blue-5;
  button {
    padding: 0.4em 1em 0.2em;
  }

 
}

dialog td:first-child{
  width: 200px;
}