menu "MQTT Configuration"
    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipse.org"
        help
            URL of the broker to connect to
    config BROKER_USER
        string "Broker User"
        default "user"
        help
            Username for connection with broker
    config BROKER_PASSWORD
        string "Broker Password"
        default "password"
        help
            Passwort of user for connection with broker
    config BROKER_TOPIC_TEMPLATE1
        string "Topic template 1"
        default "/labathome/airquaity/%d"
        help
            Define a template for a topic and use a single %d as template parameter
    config BROKER_TOPIC_TEMPLATE2
        string "Topic template 2"
        default "/labathome/devicestatus/%d"
        help
            Define a template for a topic and use a single %d as template parameter
    config BROKER_TOPIC_TEMPLATE3
        string "Topic template 3"
        default "/labathome/command/%d"
        help
            Define a template for a topic and use a single %d as template parameter
endmenu
menu "labathome"
    config LABATHOME_BOARD_VERSION_MAJOR
        int "LABATHOME_BOARD_VERSION_MAJOR"
        default 6
    config LABATHOME_BOARD_VERSION_MINOR
        int "LABATHOME_BOARD_VERSION_MINOR"
        default 0
    config LABATHOME_HW_TEST
        bool "LABATHOME_HW_TEST"
        default n
    
endmenu
menu "Wifi/Eth Connection Configuration"


    config NETWORK_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config NETWORK_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
            Can be left blank if the network has no security set.
    config NETWORK_WIFI_AP_SSID
        string "WiFi AP SSID"
        default "myssid"
    config NETWORK_WIFI_AP_PASSWORD
        string "WiFi AP Password"
        default "mypassword"
    config NETWORK_WIFI_AP_CHANNEL
        int "Wifi AP Channel"
        default 11
    config NETWORK_AP_MAX_AP_CONN
        int "Maximal connections to access point"
        default 2
    config NETWORK_HOSTNAME_PATTERN
        string "Hostname pattern"
        default "labathome-%02X%02X%02X"


endmenu